<!DOCTYPE html>
<html ng-app="musicData">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Examen JavaScript</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body >
	<div ng-controller="musicData">
		<div class="col-lg-12">
			<h2>Los primeros ejercicios estan en la consola</h2>
			<hr/>
			<h3>Ejercicio 5 Función Agregar Borrar y consultar, Ejercicio 6 automatico</h3>	
				{{musicData}}
				<br/><br/>
			<div class="modal fade" id="addItem">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">MusicData</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="artist" class="col-form-label">Artist:</label>
									<input type="text" class="form-control" ng-model="artist.artist" required>
								</div>
								<div class="form-group">
									<label for="name" class="col-form-label">Name:</label>
									<input type="text" class="form-control"  ng-model="artist.name" required>
								</div>
								<div class="form-group">
									<label for="sales" class="col-form-label">Sales:</label>
									<input type="number" class="form-control" ng-model="artist.sales" required>
								</div>

							</form>
							
							<div class="modal-footer">
								<button type="button" class="btn btn-default"  ng-click="closeModal('#addItem')">Close</button>
								<button type="button" ng-click="saveItem()" class="btn btn-primary">Guardar MusicData</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<a class="btn btn-primary" data-toggle="modal" href='#addItem'>Agregar MusicData</a>
			<br/>
			<br/>
				<div class="form-control">
					<label for="search">Buscar:</label>
                    <input type="text" class="form-control" placeholder="Buscar" id="search" name="search" ng-model="params.search">
				</div>
			</div>
				<hr/>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Artista</th>
							<th>Nombre</th>
							<th>Ventas</th>
							<th>Administrar</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="artist in musicData | filter : params.search">
							<td>{{artist.artist}}</td>
							<td>{{artist.name}}</td>
							<td>{{artist.sales}}</td>
							<td><a class="btn btn-danger" ng-click="removeItem(artist)"><i class="fa fa-trash-o fa-lg" style="color: white;"></i> Eliminar</a></td>

						</tr>
					</tbody>
				</table>
		</div>
	</div>
	<script>
		var appMusic = angular.module('musicData', []);
		appMusic.controller('musicData', function($scope) {
			$scope.artist={artist:null,name:null,sales:null};
			$scope.musicData = [
				{ artist: 'Adele', name: '25', sales: 1731000 },
				{ artist: 'Drake', name: 'Views', sales: 1608000 },
				{ artist: 'Beyonce', name: 'Lemonade', sales: 1554000 },
				{ artist: 'Chris Stapleton', name: 'Traveller', sales: 1085000 },
				{ artist: 'Pentatonix', name: 'A Pentatonix Christmas', sales: 904000 },
				{ artist: 'Original Broadway Cast Recording',name: 'Hamilton: An American Musical', sales: 820000},
				{ artist: 'Twenty One Pilots', name: 'Blurryface', sales: 738000 },
				{ artist: 'Prince', name: 'The Very Best of Prince', sales: 668000 },
				{ artist: 'Rihanna', name: 'Anti', sales: 603000 },
				{ artist: 'Justin Bieber', name: 'Purpose', sales: 554000 }
			];
			$scope.params = {
		        search: ""
		    };
			$scope.removeItem=function(item){
				$scope.musicData.splice($scope.musicData.indexOf(item),1 );
			};
			$scope.saveItem=function(){
				$scope.musicData.push($scope.artist);
				$scope.artist={artist:null,name:null,sales:null};
				$scope.closeModal('#addItem');
			};
			$scope.closeModal=function(name){
				$(name).modal('hide');
			};
		//Pregunta 1
			var data = $scope.musicData.filter(function(a){
				 return a.sales>1000000;
				}
			);	
			for(var i in data)
				console.log(data[i]);
		//pregunta 2
			for(var b in data)
				console.log("Es Un gran artista: "+data[b].artist);
		//pregunta 3
			var totalAlbumSales = 0;
			for (var i = 0; i < $scope.musicData.length; i++) {
				totalAlbumSales+=$scope.musicData[i].sales;
			}
			console.log(totalAlbumSales);
		//Pregunta 4
			var longNames = 0;
			var data2 = $scope.musicData.filter(function(b){
				longNames=b.artist.length>8;
				return longNames;
			});
			console.log(data2);
		});
	</script>
</body>
</html>