<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Examen JavaScript</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="musicData.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue"></script>

</head>
<body >
	<div id="app">
		<div class="col-lg-12">
			<div>
				<h3>Los primeros ejercicios estan en la consola</h3>
				<hr/>
				<h3>Ejercicio 5 Función Agregar Borrar y consultar, Ejercicio 6 automatico</h3>	
				{{musicData}}
				<br/><br/>
			<a class="btn btn-primary" data-toggle="modal" href='#addItem'>Agregar MusicData</a>
			<div class="modal fade" id="addItem">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">MusicData</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="artist" class="col-form-label">Artist:</label>
									<input type="text" class="form-control" id="artist" required>
								</div>
								<div class="form-group">
									<label for="name" class="col-form-label">Name:</label>
									<input type="text" class="form-control" id="name" required>
								</div>
								<div class="form-group">
									<label for="sales" class="col-form-label">Sales:</label>
									<input type="number" class="form-control" id="sales" required>
								</div>

							</form>
							
							<div class="modal-footer">
								<button type="button" class="btn btn-default"  v-on:click="closeModal('#addItem')"data-dismiss="modal">Close</button>
								<button type="button" v-on:click="saveItem()" class="btn btn-primary">Guardar MusicData</button>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="form-group">
					<label for="search">Buscar:</label>
					<input type="text" class="form-control" id="search" name="search" v-model="search"
					>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Artisata</th>
							<th>Nombre</th>
							<th>VEntas</th>
							<th>Administrar</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="artist in musicDataFilter">
							<td>{{artist.artist}}</td>
							<td>{{artist.name}}</td>
							<td>{{artist.sales}}</td>
							<td><a class="btn btn-danger" v-on:click="removeItem(artist)"><i class="fa fa-trash-o fa-lg" style="color: white;"></i> Eliminar</a></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script >
		var appMusic = new Vue({
			el: '#app',
			data: {
				music: [],
				search:"",
				musicData  :[
				{ artist: 'Adele', name: '25', sales: 1731000 },
				{ artist: 'Drake', name: 'Views', sales: 1608000 },
				{ artist: 'Beyonce', name: 'Lemonade', sales: 1554000 },
				{ artist: 'Chris Stapleton', name: 'Traveller', sales: 1085000 },
				{ artist: 'Pentatonix', name: 'A Pentatonix Christmas', sales: 904000 },
				{ artist: 'Original Broadway Cast Recording',name: 'Hamilton: An American Musical', sales: 820000 },
				{ artist: 'Twenty One Pilots', name: 'Blurryface', sales: 738000 },
				{ artist: 'Prince', name: 'The Very Best of Prince', sales: 668000 },
				{ artist: 'Rihanna', name: 'Anti', sales: 603000 },
				{ artist: 'Justin Bieber', name: 'Purpose', sales: 554000 }
				]
			},
			computed:{
				musicDataFilter:function(){
					//console.log(this.search)
					if(this.search.length>0){
						return appMusic.musicData.filter(function(a){
							return a.artist.indexOf(appMusic.search)>=0;
						})
					}
					else return this.musicData;
				},

			},
			methods:{
				removeItem:function(item){
					this.musicData.splice(this.musicData.indexOf(item),1 );
				},
				saveItem:function(){
					var artist = document.getElementById("artist").value;
					var name = document.getElementById ("name").value;
					var sales = document.getElementById ("sales").value;
					this.musicData.push({artist:artist,name:name,sales:sales});
					this.closeModal('#addItem');
				},
				closeModal:function(name){
					$(name).modal('hide');
				}
			}})
		</script>
	</body>
	</html>